/*////////////////////////////////*/
/*//////[ FONTS & IMPORT ]////////*/

@font-face {
    font-family: 'STD_Nus_Medium';
    src: url('../fonts/STD Nus Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'STD_MT_Medium';
    src: url('../fonts/STD MT Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'STD_MT_Light';
    src: url('../fonts/STD MT Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'STD_MT_Bold';
    src: url('../fonts/STD MT Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'STD_Nus_Bold';
    src: url('../fonts/STD Nus Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STD_Nus_Light';
    src: url('../fonts/STD Nus Light.ttf');
    font-weight: normal;
    font-style: normal;
}

/*//////[ FONTS & IMPORT ]////////*/
/*////////////////////////////////*/

body{
  font-family: 'STD_Nus_Medium';
  font-size:13px;
  background:#ebebeb;
}

.test-div {
    width: 30px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    overflow: scroll;
    transition: all 100ms;
    z-index: 11;
    box-shadow: 0 0 15px #000;
    background: #fff;
}

.test-div:hover {
    width: 40%;
}

.test-pre {
    font-size: 10px;
    top: 0;
    left: 0;
    width: auto;
    display: block;
    overflow: hidden;
}

.category-warning{
  margin-top:30px;
}

/* /////////////////////////////////// */
/* ///////////[ ICON IN INPUT ]////////*/
.input-icon {
  position: relative;
}
.input-icon .oi {
  display: block;
  font-size: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #cecece;
  pointer-events: none;
}
.left-addon .oi  { left:  20px !important;}
.right-addon .oi { right: 20px !important;}
.left-addon-extra .oi  { left:  30px !important;}
.right-addon-extra .oi { right: 30px !important;}
.left-addon-extra input  { padding-left:  45px !important; }
.right-addon-extra input { padding-right: 45px !important; }
.left-addon input  { padding-left:  50px; }
.right-addon input { padding-right: 50px; }

/* ///////////[ ICON IN INPUT ]////////*/
/* /////////////////////////////////// */

/* /////////////////////////////// */
/* //////////[ PRELOADER ]/////////*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  left:50%;
  top:50%;
  transform:translate(-50%, -10%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 6px;
  border: 2px solid #00c405;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00c405 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* //////////[ PRELOADER ]//////////*/
/* //////////////////////////////// */

/*////////////////////////////////*/
/*///////////[ NAVBAR ]///////////*/
.navbar-brand{
  font-size:30px;
  color: rgba(255,255,255,1) !important;
  margin-right:0;
}

.text-green{
  color:#00c405;
}

.text-light-gray{
  color:#8c8c8c;
}

.text-red{
  color:red;
}

.text-orange{
  color:#f15018;
}

.text-gray{
  color:#444;
}

.background-orange{
  background:#f15018;
  color:white;
  font-size:11px;
  font-family: 'STD_MT_Light';
}


.outer-navbar{
  width:100%;
  background: #f15018;
}
/* OVERRIDES */
/* change the background color */
.navbar-custom {
  font-family: 'STD_MT_Medium';
  background-color: #f15018;
  width:1350px;
  margin:0 auto;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width:1350px){
  .navbar-custom {
    width:100%;
  }
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
  padding-top:0;
  padding-bottom:0;
}

/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.9);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
  /* add background-color to active links */
}

.navbar-nav li{
  margin-left:10px;
  margin-right:10px;
}



.navbar-custom .nav-item{
  position: relative;
}

.navbar-custom .nav-item:hover .active-hover-link, .active .active-hover-link{
  visibility: visible;
}

.active-hover-link{
  visibility: hidden;
  width:3px;
  height: 10px;
  background: #fff;
  position: absolute;
  left:0;
  top:49%;
  transform:translateY(-50%);
}
/*///////////[ NAVBAR ]///////////*/
/*////////////////////////////////*/


/*/////////////////////////////////*/
/*///////////[ CONTENT ]///////////*/
main{
  width:1350px;
  margin:0 auto;
}

@media (max-width:1350px){
  main{
    width:100%;
  }
}

.row{
  margin-right: 0;
  margin-left: 0;
}

main .content{
  min-height:1700px;
  background:#fff !important;
  -webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.3);
}
/*///////////[ CONTENT ]///////////*/
/*/////////////////////////////////*/

/*/////////////////////////////////*/
/*///////////[ CAROUSEL ]//////////*/
.carousel{
  margin-top:15px;
}
.carousel-item{
  height: 325px;
}
/*///////////[ CAROUSEL ]//////////*/
/*/////////////////////////////////*/


/*/////////////////////////////////*/
/*///////////[ BUTTONS ]///////////*/

.btn-custom-gray:hover,
.btn-custom-gray:active,
.btn-custom-gray:visited,
.btn-custom-gray:focus {
  background-color: rgba(79,79,79,0.7) !important;
  color: white !important;
}

.btn-custom-gray {
  color: white !important;
  background: #4f4f4f !important;
  width: 100%;
}

.btn-custom-green:hover,
.btn-custom-green:active,
.btn-custom-green:visited,
.btn-custom-green:focus {
  background-color: rgba(0,196,5,0.7) !important;
  color: white !important;
}

.btn-custom-green {
  color: white !important;
  background: #00c405 !important;
  width: 100%;
}

.btn-custom-orange:hover,
.btn-custom-orange:active,
.btn-custom-orange:visited,
.btn-custom-orange:focus {
  background-color: rgba(241,80,24,0.7) !important;
  color: white !important;
}

.btn-custom-orange {
  color: white !important;
  background: #f15018 !important;
  width: 100%;
}

.login-register-btns{
  margin-top:14px;
}

.login-register-btns a{
  width:100%;
  margin:0;
  border-radius: 30px;
  font-size:14px;
  padding-top:10px;
  padding-bottom:10px;
}

.login-register-btns .col-5{
  padding-left:0;
  padding-right:4px;
}
.login-register-btns .col-7{
  padding-left:4px;
  padding-right:4px;
}

/*///////////[ BUTTONS ]///////////*/
/*/////////////////////////////////*/

/*//////////////////////////////////*/
/*///////////[ CATEGORY ]///////////*/

.categores{
  font-family:'STD_MT_Bold';
  margin:40px 0;
}

.category{

}

.sub-category{
  font-family:'STD_Nus_Medium';
  margin-left: 5px;
  padding:4px 0;
}

.category .sub-category:last-child{
  margin-bottom:20px;
}

/*///////////[ CATEGORY ]///////////*/
/*//////////////////////////////////*/


/*//////////////////////////////////*/
/*/////[ USER NOT LOGGEDIN ]////////*/

.cart,
.favourites{
  padding:2px 0;
  font-family:'STD_Nus_Bold';
}

.values{
  font-family:'STD_Nus_Medium';
}
/*/////[ USER NOT LOGGEDIN ]////////*/
/*//////////////////////////////////*/




/*//////////////////////////////////*/
/*///////////[ FILTERS ]////////////*/

.navbar-filter-custom{
  background-color: #fff;
  width: 100%;
  border-bottom:1px solid #cecece;
}

.navbar-filter-custom .navbar-nav .nav-link {
  color: rgba(0,0,0,.7);
}

.navbar-filter-custom .nav-item.active .nav-link,
.navbar-filter-custom .nav-item:hover .nav-link {
  color: rgba(0,0,0,.9);
}

.navbar-filter-custom .active-hover-link{
  background: #f15018;
}

.navbar-filter-custom .navbar-nav li{
  margin-left:0;
}

/*----------------------------------------*/

.filters{
  margin-top:30px;
  margin-left:-15px;
  margin-right: -15px;
}

.filters .search-bar{

}

.filters .search-bar input{
  font-size:13px;
  position:relative;
  padding-left: 40px;
}

.filters .search-bar .btn{
  border-radius: 25px;
  font-size:13px;
  position:absolute;
  width:100px;
  top:50%;
  transform:translateY(-50%);
  right:20px;
}
/*
.filters .search-bar .oi{
  display: block;
  font-size: 15px;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 30px;
  z-index: 1;
  color:#cecece;
} */

.filters .sorter{

}

.filters .sorter select{
  font-size:13px;
  background:url(../images/other/arrow_substitute.png) 95% 50% no-repeat;
  -webkit-appearance: none;
}

/*///////////[ FILTERS ]////////////*/
/*//////////////////////////////////*/





/*//////////////////////////////////*/
/*///////////[ PRODUCT ]////////////*/

.products{
  margin-top:10px;
  margin-left: -15px;
  margin-right: -15px;
}

.product{
  height:380px;
  border:1px solid #cecece;
  border-radius:5px;
  margin-top:20px;
}

.product-image{
  margin:15px;
  height:240px;
  border:1px solid #eaeaea;
  border-radius:3px;
  position:relative;
}

.product-name,
.product-price{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin:15px;
}
.product-price .old-price{
  text-decoration:line-through;
}
/*Add Space before new price*/
.product-price .discounted-price::before{
  content:' ';
  white-space: pre;
}
.product-price .new-price{
  color:#f15018;
}
.product-status{
  font-size:13px;
}
.product-status .btn{
  font-size:13px;
  line-height: 10px;
  border-radius: 20px;
}


/*///////////[ TIMELINE ]////////////*/

.products.timeline .product{
  height:690px;
}
.products.timeline .product-image{
  height:540px;
}

/* Animation effect */
@keyframes placeHolderShimmer { 0% { background-position: -400px 0  } 100% { background-position: 400px 0  } }
.animate-bg {border-radius:3px; animation-duration: 1s; animation-fill-mode: forwards; animation-iteration-count: infinite; animation-name: placeHolderShimmer; animation-timing-function: linear; background: #f6f7f8; background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%); background-size: 800px 104px; min-height: 12px; display: block; clear: both; }

.ajax-loader{
  margin-top:30px;
}

.timeline-product-images img{
  width:100%;
}
/*///////////[ PRODUCT ]////////////*/
/*//////////////////////////////////*/



/*//////////////////////////////////*/
/*///////////[ DISCOUNTS ]////////////*/

.discount{
  position: absolute;
  right:10px;
  top:10px;
}

.discount .badge{
  padding:10px;
  font-size:14px;
  font-family: 'STD_MT_Light';
}

/*///////////[ DISCOUNTS ]////////////*/
/*//////////////////////////////////*/



/*//////////////////////////////////*/
/*/////////////[ LOGIN ]////////////*/
.user-login-container{
  background: #f8f8f8;
  border-radius:3.5px;
  height: 100%;
}

.user-login-header{
  height:190px;
  position: relative;
  background:#00c405;
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
}

.user-login-header .user-login-close{
  position:absolute;
  top:10px;
  right:10px;
  cursor:pointer;
}

.user-login-header h4{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-family: 'STD_MT_Medium';
  color:white;
}

.user-login-footer{
  margin-top:30px;
  margin-bottom:30px;
  padding:0 30px;
}

.user-login-footer .btn{
  border-radius: 25px;
  font-size:13px;
  width:100px;
}

.user-login-body{
  padding:15px 45px;
  margin-top:20px;
}

.user-login-body input{
  height:48px;
  margin-bottom:40px;
}

.user-login-body .email-label{
  font-family: 'STD_Nus_Bold';
}

.user-login-body .password-label{
  font-family: 'STD_Nus_Bold';
}

.user-login-footer div{
  text-align:center;
}

.user-login-footer div a{
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  white-space: nowrap;
}

.login-logged-in{
  margin-top:15px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  border-radius:5px;
}

.login-logged-in-header{
  background: #00c405;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding:15px 0;
  color:white;
}

.avatar{
  border:5px solid #fff;
  border-radius:100%;
  height:60px;
  width:60px;
}

.login-name-surname{
  font-family: 'STD_MT_Bold';
}

.login-logged-in-body{
  padding:0 15px;
  background-color: white;
}

.login-logged-in-body div{
  border-bottom:1px solid #e8e8e8;
  padding:4px 0;
}

.login-logged-in-messages{
  position: relative;
}

.login-logged-in-messages .badge{
  position: absolute;
  top:50%;
  right:0;
  transform: translateY(-50%);
}

.login-logged-in-footer{
  background-color: white;
  padding:10px 0;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

.gold-coin-sign{
  display: inline-block;
  border:1px solid #ffa200;
  background: #f1c018;
  height:13px;
  width:13px;
  border-radius:100%;
  position: relative;
  top:2px;
}

.login-logged-in-footer .btn{
  font-size: 13px;
  line-height: 10px;
  border-radius: 20px;
  border:1px solid #e8e8e8;
}
/*/////////////[ LOGIN ]////////////*/
/*//////////////////////////////////*/

/*//////////////////////////////////*/
/*////////////[ REGISTER ]//////////*/

.user-register-container{
  background: #f8f8f8;
  border-radius:3.5px;
  height: 100%;
}

.user-register-header{
  height:190px;
  position: relative;
  background:#f15018;
  border-top-left-radius: 3.5px;
  border-top-right-radius: 3.5px;
}

.user-register-header .user-register-close{
  position:absolute;
  top:10px;
  right:10px;
  cursor:pointer;
}

.user-register-header h4{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-family: 'STD_MT_Medium';
  color:white;
}

.user-register-footer{
  margin-bottom:30px;
  padding:0 30px;
}

.user-register-footer .btn{
  border-radius: 25px;
  font-size:13px;
}

.user-register-body{
  padding:15px 45px;
  margin-top:20px;
}

.user-register-body input{
  height:48px;
  margin-bottom:20px;
}
.user-register-body .name-label,
.user-register-body .surname-label,
.user-register-body .email-label,
.user-register-body .mobile-label,
.user-register-body .password-label,
.user-register-body .re-password-label,
.user-register-body .avatar-label{
  font-family: 'STD_Nus_Bold';
}


.user-register-footer{
  position:relative;
}

.user-register-footer div button{
  position:relative;
  top:50%;
  transform: translateY(-50%);
}

.user-register-footer div a{
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  white-space: nowrap;
}

.user-register-alt-login,
.user-register-alt-login div{
  text-align:left;
}

.register-custom-upload-btn{
  font-size:13px;
  font-family: 'STD_Nus_Medium';
  position:relative;
  top: 3px;
  left: -12px;
}

.register-custom-upload-btn:hover{
  color:rgba(0,0,0,0.6);
}

/*////////////[ REGISTER ]//////////*/
/*//////////////////////////////////*/


/*/////////////////////////////////*/
/*/////////[ BREADCRUMBS ]/////////*/

.breadcrumbs{
  padding: 27px 0;
  border-bottom: 1px solid #e8e8e8;
}
.crumb{

}
.crumb-separator{
  margin:0 8px;
  font-size:8px;
}

/*/////////[ BREADCRUMBS ]/////////*/
/*/////////////////////////////////*/


/*/////////////////////////////////*/
/*///////////[ MESSAGES ]//////////*/

.message-display{
  position: fixed;
  top:76px;
  right:20px;
  z-index: 10
}
/*///////////[ MESSAGES ]//////////*/
/*/////////////////////////////////*/
